* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    justify-content: center;
}
.App {
    display: block;

}
.Chat {
    display:block;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    height: 700px;

}
.InputBlock {
    position: relative;
}


.MessageList {
    height: 80%;
    display: inline-block;
    width: 95%;
    max-height: 700px;
    overflow-x: hidden;
    position: relative;
    padding-right: 10%;
    text-align:justify;
}

.inputForm {
    display: block;
    background: #fafbfc;
    padding: 0.5em;
    margin-top: 1px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;

}

.AttachedGif {
    display: none;
}

.gifs-container {
    height: 210px;
    width: 100%;
    float: right;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #d3d9dd;
}

.gif-item {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.chosenGif {
    height: 40%;
    width: 40%;

}