@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.gifsContainer {
    height: 220px;
    padding-top: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #fafbfc;
}

.MessageList {
    display: inline-block;
    width: 100%;
    height: 700px;
    overflow-x: hidden;
    position: relative;
    padding-right: 10%;
    text-align:justify;
}